# Virtual Environment
.venv/
venv/
env/

# Python Cache
__pycache__/
*.py[cod]
*$py.class

# Logs
*.log

# Bank Statements & Generated Reports
BANK_STATEMENT/
Financial_Reports/
*.pdf
*.xlsx

# IDE & Editor
.vscode/
.idea/
.DS_Store
